@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --primary: #b388eb;
  --background:  #2f2a30;
}

.primary {
  color: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #2f2a30;
    overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: auto;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  color: #fff;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  color: #fff;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 14px 32px;
  border: none;
  background: rgb(123,37,236);
  background: linear-gradient(29deg, rgba(123,37,236,1) 0%, rgba(179,136,235,1) 49%, rgba(208,205,212,1) 100%);
  color: #fff;
  border-radius: 24px 4px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 8px 20px;
}

input {
  padding: 12px 32px;
  border: 1px solid var(--primary);
  background: transparent;
  border-radius: 24px 4px;
  font-size: 1rem;
  margin-right: 0.8rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }
  h5 {
    font-size: 1.1rem;
    line-height: 1.2;
  }
  p {
    font-size: 1rem;
  }
  .btn {
    width: 100%;
    margin: 1rem 0;
  }
  input {
    width: 100%;
  }
}